<h1>
  Workshop Todo List
</h1>

<ul>
  <% @todos.each do |todo| %>
     <li>
       <input type="checkbox" />
       <a href="/todo/show/<%= todo.id%>"><%= todo.description %></a>
       <span><%= todo.pomodoros %> Pomodoros</span>
     </li>
  <% end %>
</ul>

<a href="/todo/new">Add a new to-do...</a>  