<h1>
 Add a New To-do
</h1>

<form action="/todo/create">
  <input class="text-input" name="description"  id="new-todo-description" type="text" placeholder="Add a new todo...">
  <input class="text-input" name="pomodoros" id="new-pomodoro-estimate" type="number" placeholder="Pomodoro estimate...">
  <input class="button" id="add-new-todo-button" type="submit" value="Add todo">
</form>
<a href="/todo/index">Go back...</a>