<h1>
  Workshop Todo List
</h1>
    
<div class="card">
  <input type="checkbox" name=""/>
  <h2><%= @description %></h2>
  <span class="pomodoro-estimate large-pomodoro-estimate"><%= @pomodoro %> Pomodoros</span>
  <a href="#" class="button" id="edit-todo-button">Edit</a>
  <a href="#" class="button" id="delete-todo-button">Delete</a>
  <a href="index" class="simple-link">Go back...</a>
</div>